.vacancy {
	padding: 56px 0px 44px 0px;
	&__header {
	}

	&__content {
		background: #F7F8FF;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
		border-radius: 8px;
		margin: 0px 0px 127px 0px;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 60px 0px;
		}
	}

	&__header-row {
		display: flex;
		align-items: center;
		@media (max-width: $breakpoint768) {
			flex-direction: column;
		}
	}

	&__column {
		@media (min-width: $breakpoint768) {
			flex: 0 1 50%;
		}
	}

	&__left-side-row {
		display: flex;
		max-width: 482px;
		align-items: center;
		margin: 0px 0px 0px 69px;
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 0px 0px;
			flex-direction: column;
			text-align: center;
		}
	}

	&__header-image {
		margin: 0px 27px 0px 0px;
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__header-text {
		font-weight: bold;
		font-size: 36px;
		line-height: calc(48 / 36 * 100%);
		color: $colorBlue;
		@media (max-width: $breakpoint768) {
			font-size: 28px;
		}
	}

	&__right-body {
		text-align: center;
		padding: 50px 0px;
		@media (max-width: $breakpoint768) {
			padding: 30px 0px;
		}
	}

	&__image-name {
		margin: 0px 0px 5px 0px;
	}

	&__rating {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 5px 0px;
	}

	&__number {
		color: $colorBlack;
		font-weight: bold;
		font-size: 36px;
		line-height: calc(62 / 36 * 100%);
		margin: 0px 4px 0px 0px;
	}

	&__items {
		display: flex;
		padding: 0px 0px 10px 0px;
	}

	&__item {
	}

	&__reviews {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__vacancy-text {
		color: #424B5A;;
		font-size: 18px;
		line-height: calc(24 / 18 * 100%);
		font-weight: bold;
		text-decoration-line: underline;
		margin: 0px 4px 0px 0px;
	}

	&__vacancy-arrow {
	}

	&__main {
		margin: 0px auto 101px auto;
		max-width: 680px;
		text-align: center;
		@media (max-width: $breakpoint992) {
			margin-bottom: 50px;
		}
	}

	&__footer {
	}

	&__dev-items {
		margin: 0px 0px 68px 0px;
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 48px 0px;
		}
	}

	&__dev-item {
		
	}
    &__button-row {
		display: flex;
		justify-content: center;
	}
	&__btn {
		
	}
}
