.brands {
	&__images {
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 148px 0px 0px 0px;
		@media (max-width: $breakpoint992) {
			margin: 80px 0px 0px 0px;
		}
		
		@media (max-width: $breakpoint768) {
			flex-wrap: wrap;
			gap: 40px;
		}
	}

	&__item-image {
		
		margin: 0px 32px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $breakpoint992) {
			margin: 0px 26px 0px 0px;
		}
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 0px 0px;
		}
		img {
			box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
			border-radius: 8px;
			@media (max-width: 1100px) {
				width: 100%;
				height: auto;
			}
		}
	}
}
