.join {
	padding: 116px 0px 157px 0px;
	@media (max-width: $breakpoint992) {
		padding: 60px 0px 80px 0px;
	}
	@media (max-width: $breakpoint768) {
		padding: 40px 0px 60px 0px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $breakpoint768) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 1 1 50%;
	}

	&__body {
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 20px 0px;
			text-align: center;
		}
	}

	&__title {
		margin: 0px 0px 16px 0px;
	}

	&__text {
		margin: 0px 0px 40px 0px;
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__button {
		margin: 0px 0px 14px 0px;
		@media (max-width: $breakpoint480) {
			display: flex;
			justify-content: center;
		}
	}

	&__image {
		img {
			@media (max-width: $breakpoint992) {
				width: 100%;
				height: auto;
			}
		}
	}
	&__arrow {
		@media (min-width: $breakpoint768) {
			padding: 0px 0px 0px 66px;
		}
		@media (max-width: $breakpoint768) {
			padding: 0px 0px 0px 170px;
		}
		@media (max-width: $breakpoint480) {
			padding: 0px 0px 0px 140px;
			img {
				width: 200px;
			}
		}
		@media (max-width: 400px) {
			padding: 0px 0px 0px 120px;
			img {
				width: 145px;
			}
		}
	}
}