.innovation {

	&__content {
		text-align: center;
		margin: 120px 0px 30px 0px;
	}

	&__header {
		margin: 0px 0px 113px 0px;
	}

	&__title {
		margin: 0px 0px 16px 0px;
	}

	&__text {
	}

	&__footer {
	}
}
