.products {
	padding: 106px 0px 108px 0px;
	@media (max-width: $breakpoint992) {
		padding: 76px 0px 78px 0px;
	}
	@media (max-width: $breakpoint768) {
		padding: 46px 0px 48px 0px;
	}
	@media (max-width: $breakpoint480) {
		padding: 26px 0px 28px 0px;
	}
	&__body {
		margin: 0px 0px 97px 0px;
		text-align: center;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 77px 0px;
		}
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 47px 0px;
		}
		@media (max-width: $breakpoint480) {
			margin: 0px 0px 27px 0px;
		}
	}

	&__title {
		margin: 0px 0px 16px 0px;
	}

	&__text {
	}

	&__row {
	}

	&__items {
		display: flex;
		margin: 0px -16px;
		@media (max-width: $breakpoint992) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 16px;
	}

	&__item {
		height: 100%;
		background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 35px 0px;
		}
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 20px 0px;
		}
	}
}

.item-product {

	&__header {
		padding: 64px 120px 0px 62px;
		flex: 1 1 auto;
		@media (max-width: $breakpoint992) {
			padding: 44px 120px 0px 42px;
		}
		@media (max-width: $breakpoint768) {
			padding: 24px 120px 0px 22px;
		}
	}

	&__title {
		margin: 0px 0px 40px 0px;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 24px;
		line-height: calc(31 / 24 * 100%);
		margin: 0px 0px 32px 0px;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 16px 0px;
		}
	}

	&__button {
		position: relative;
		z-index: 99;
		display: inline-flex;
		padding: 15px 24px;
		border: 1px solid $colorRed;
		border-radius: 6px;
		gap: 8px;
		margin: 0px 0px -13px 0px;
		span {
			color: $colorRed;
			font-weight: bold;
			font-size: 14px;
			display: flex;
			align-items: center;
			letter-spacing: 0.005em;
			text-align: center;
		}
		&:hover {
			background-color: $colorRed;
			transition: 0.3s all ease;
			span {
				color: $colorWhite;
				transition: 0.3s all ease;
			}
			path {
				stroke: $colorWhite;
				transition: 0.3s all ease;
			}
		}
	}

	&__footer {	
		text-align: center;
		img {
			@media (max-width: $breakpoint1400) {
				width: 100%;
				height: auto;
			}
		}
	}
}

