.intro {
	position: relative;
	max-width: ($containerWidth + $containerPadding) + px;
	margin: 0 auto;
	
	&__image {
		position: absolute;
		bottom: 0;
		right: 0;	
	}

	&__item {
		display: flex;
	}

	&__body {
		flex: 0 1 50%;
		@media (min-width: $breakpoint992) {
			padding: 0px 105px 0px 0px;
			margin: 0px 10px 0px 0px;
		}
		@media (max-width: $breakpoint992) {
			flex: 1 1 100%;
		}
		@media (max-width: $breakpoint768) {
			text-align: center;
		}
	}
	
	&__about-body {
		@media (min-width: $breakpoint992) {
			padding: 0px 120px 0px 0px;
		}
	}

	&__title {
		margin: 0px 0px 32px 0px;
		font-weight: bold;
		font-size: 48px;
		line-height: calc(62 / 48 * 100%);
		color: $colorBlue;
		@media (max-width: $breakpoint992) {
			font-size: 36px;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__text {
		margin: 0px 0px 40px 0px;
		font-size: 22px;
		line-height: calc(33 / 22 * 100%);
		color: $colorText;
		@media (max-width: $breakpoint992) {
			margin: 0px 0px 25px 0px;
			font-size: 16px;
		}
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__button-row {
		display: flex;
		@media (max-width: $breakpoint768) {
			flex-direction: column;
		}
	}

	&__button-one {
		margin: 0px 16px 0px 0px;
		@media (max-width: $breakpoint768) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__button-two {
	}

	&__mainpage-padding {
		padding: 129px 0px 210px 0px;
		@media (max-width: $breakpoint1400) {
			padding: 100px 0px;
		}
		@media (max-width: $breakpoint992) {
			padding: 50px 0 275px 0;
		}
		@media (max-width: $breakpoint480) {
			padding: 35px 0 250px 0;
		}
	}

	&__products-padding {
		padding: 174px 0px 108px 0px;
		@media (max-width: $breakpoint992) {
			padding: 120px 0px 265px 0px;
		}
		@media (max-width: $breakpoint768) {
			padding: 70px 0px 285px 0px;
		}
		@media (max-width: $breakpoint480) {
			padding: 40px 0px 245px 0px;
		}
	}

	&__about-padding {
		padding: 189px 0px 172px 0px;
		@media (max-width: $breakpoint992) {
			padding: 119px 0px 375px 0px;
		}
		@media (max-width: $breakpoint768) {
			padding: 60px 0px 300px 0px;
		}
	}

	&__about-text {
		font-size: 28px;
		line-height: calc(36 / 28 * 100%);
	}

}

.svg-main-screen-dims {
	height: auto;
	width: 100%;
}

.mainpage-main-screen {
	position: absolute;
	right: -130px;
	@media (max-width: $breakpoint1400) {
		max-width: 700px;
		right: -70px;
	}
	@media (max-width: $breakpoint992) {
		max-width: 400px;
		right: 0;
	}
	@media (max-width: $breakpoint768) {
		max-width: 320px;
	}
}

.products-main-screen {
	position: absolute;
	right: -30px;
	@media (max-width: 1300px) {
		width: 550px;
		right: 80px;
	}
	@media (max-width: 1150px) {
		width: 500px;
		right: 20px;
	}
	@media (max-width: $breakpoint992) {
		width: 350px;
	}
	@media (max-width: $breakpoint480) {
		width: 300px;
	}
}

.about-main-screen {
	position: absolute;
	bottom: 14px;
	@media (max-width: 1100px) {
		width: 580px;
	}
	@media (max-width: $breakpoint992) {
		width: 400px;
	}
	@media (max-width: $breakpoint768) {
		width: 300px;
	}
}
