/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */

/* Лента слайдов */
.slick-track{
	display: flex;
	margin: 0px 0px 69px 0px;
}

/* Слайд активный (показывается) */

/* Слайд основной */
.slick-slide.slick-current{
}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider {
	position: relative;
	overflow: hidden;
	/* Слайд */
	.slick-list {
		margin: 0px -20px;
	}
	.slick-slide{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
		height: 119px;
		margin: 0px 20px;
	}
	.slick-arrow{
		position: absolute;
		z-index: 10;
		font-size: 0;
		width: 24px;
		height: 24px;
		bottom: 0;
		left: 0;
	}
	
	.slick-arrow.slick-prev{
		background: url("../img/slider/Left.svg") 0 0 no-repeat;
		transform: rotate(180deg);
		left: -2px;
	}
	.slick-arrow.slick-next{
		background: url("../img/slider/Left.svg") 0 0 no-repeat;
		left: 34px;
		
	}
	/* Стрелка не активная */
	.slick-arrow.slick-disabled{
		opacity: 0.4;
	}

	.slick-slide.slick-active{
		}

	&__item {
		
	}

	&__image {
	}
}
