.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}

// .ibg{
// 	position: relative;
// 	img {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		object-fit: cover;
// 	}
// }

.btn {
	position: relative;
	z-index: 100;
	background-color: $colorRed;
	border-radius: 6px;
	padding: 14px 32px;
	display: inline-block;
	font-size: 16px;
	line-height: 150%;
	color: $colorWhite;
	letter-spacing: 0.005em;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: rgb(160, 20, 39);
	}
}

.btn2 {
	position: relative;
	z-index: 100;
	border: 1px solid $colorRed;
	border-radius: 6px;
	padding: 13px 31px;
	font-size: 16px;
	line-height: 150%;
	display: inline-block;
	color: $colorRed;
	transition: all 0.3s ease 0s;
	
	&:hover {
		background-color: $colorRed;
		color: $colorWhite;
	}
}

.brands-text {
	font-weight: bold;
	font-size: 36px;
	line-height: calc(57 / 36 * 100%);
	color: $colorBlue;
	span {
		color: $colorRed;
	}
	@media (max-width: $breakpoint768) {
		font-size: 28px;
	}
}

.title-product {
	font-weight: bold;
	font-size: 44px;
	line-height: calc(57 / 44 * 100%);
	color: $colorBlue;
	@media (max-width: $breakpoint768) {
		font-size: 32px;
	}
}

.text-product {
	font-size: 16px;
	line-height: calc(27 / 16 * 100%);
	color: $colorText;
}

.text-footer {
	color: $colorWhite;
	font-size: 16px;
	line-height: 21px;
}

.about-title {
	font-weight: bold;
	font-size: 44px;
	line-height: calc(62 / 44 * 100%);
	color: $colorBlue;
	@media (max-width: $breakpoint992) {
		font-size: 36px;
	}
}


