// Библиотеки
@use "sass:math";

// Подключаемые шрифты
@import url(//db.onlinewebfonts.com/c/d3bfee78e8ead45d9057a95bb6ff5de8?family=Europa-Bold);
@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);
@import "fonts";

// Шрифт по умолчанию
$fontfamily: "Europa";
$fontfamilyBold: "Europa-Bold";

// Переменные
$containerWidth: 1108;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1400: 1399.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
$colorBlue: #1a2578;
$colorRed: #bf0830;
$colorText: #484c63;
$colorBlock: #3a3a3c;
$colorCategory: #8f90a6;
$colorWhite: #ffffff;
$colorBlack: #000000;

// Обнуление, общие параметры
@import "null";
@import "mixins";

// Оболочка
body {
  font-family: "Europa";
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Основная сетка
._container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 750px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Подключение файлов/стилей/страниц и элементов

@import "ui";
@import "header";
@import "footer";
@import "slider";
@import "icons";
@import "MainPage/brands";
@import "MainPage/products";
@import "intro";
@import "MainPage/successes";
@import "MainPage/innovation";
@import "ProductsPage/partners";
@import "ProductsPage/about";

// Основной блок
.main-screen {
	
}

._gradient {
	background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
}
.reverse_gradient {
	background: linear-gradient(0deg, #E3E7F6 -6.53%, rgba(227, 231, 246, 0) 87.81%);
}

.page {
	flex: 1 1 auto;
}

.icon-menu {
	@media (max-width: $breakpoint768) {
		position: absolute;
		width: 30px;
		height: 24px;
		top: 20px;
		right: 20px;
		transition: all 0.3s ease 0s;
		span {
			position: absolute;
			top: calc(50% - 1.5px);
			left: 0;
			width: 100%;
			height: 3.25px;
			background-color: $colorBlue;
			border-radius: 2px;
			transition: all 0.3s ease 0s;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&._active {
			span {
				background-color: $colorWhite;
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1.625px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1.625px);
				}
			}
		}
	}
}

.list {
	&__title {
		font-weight: bold;
		color: $colorWhite;
		font-size: 18px;
		line-height: 24px;
		margin: 0px 0px 30px 0px;
	}

	&__list {
		li {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	&__link {
		transition: color 0.3s ease 0s;
		&:hover {
			color: $colorRed;
		}
		
	}

	&__social {
	}
}

.social {
	display: flex;
	&__item {
		transition: color 0.3s ease 0s;
		margin: 0px 15px 0px 0px;
		color: $colorWhite;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&:hover {
			color: $colorRed;
		}
	}
}

.item {
	&__title-image {
		margin: 0 0 32px 0;
		@media (max-width: $breakpoint768) {
			text-align: center;
		}
	}

	&__text {
		margin: 0px 0px 42px 0px;
		p {
			margin: 0px 0px 34px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: $breakpoint768) {
			text-align: justify;
			margin: 0px 0px 20px 0px;
			p {
				margin: 0px 0px 28px 0px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__btn {
		@media (max-width: $breakpoint480) {
			display: flex;
			justify-content: center;
		}
	}
}